<div class="container">
    <div class="jumbotron welcome-jumbo">
        <h1>
            Welcome to the Movie Library!
        </h1>
    </div>
    <div class="col-sm-12">
        <h5>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere ducimus temporibus provident neque aliquid incidunt architecto porro? Earum, odio ducimus molestiae molestias voluptatem quos hic omnis aperiam itaque fugiat.
        
        </h5>
        <br/>

        <a href="/#!/list"><button class="btn btn-lg btn-primary btn-block">Take me there!</button></a>
    </div>
</div>